#section_connexion{
    .container{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    }
}

#deconnexion{
    border: none; 
    background-color: transparent;
    color: $primary;
    text-decoration: underline;
    margin: 10px;

    &:hover{
        color: $primary-hover;
        cursor: pointer;
    }
}

#form_connexion{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
