@import 'variables';

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 10px -10px 25px black;

    nav{
        #menu-hamburger{
            display: none;
            position: fixed;
            top: 42px;
            right: 40px;

            @media screen and (max-width: $breakpoint-tablet){
                display: block;
            }
                
        }
    }

}

h1{
    text-align: center;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    font-size: 2.5em;
    background-color: $primary-hover;
    color: white;

    @media screen and (max-width: $breakpoint-tablet) {
        &{
            background: $primary-hover-tablet;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    background: $primary;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-tablet){
        display: none;
        flex-direction: column;
        align-items: center;
    }

    ul{
        display: none;
        position: absolute;
        width: 100%;

        @media screen and (max-width: $breakpoint-tablet){
            position: relative;
        }

        a{
            background: $primary;

            @media screen and (max-width: $breakpoint-tablet){
                background: $primary-hover-tablet;
            }

            &:hover{
                background: $primary-hover;

                @media screen and (max-width: $breakpoint-tablet){
                    background: $primary-tablet;
                }
            }
        }
    }

    li{
        position: relative;
        line-height: 50px;
        text-align: center;
        flex:1;
        z-index: 1;

        @media screen and (max-width: $breakpoint-tablet){
            width: 100%;
        }

        &:hover{
            @media screen and (min-width: $breakpoint-tablet) {
                ul{
                    display: block;
                }
            }
        }
    }

    a{
        display: block;
        padding: 10px;
        text-transform: uppercase;
        background: $primary;
        color: #fff;
        transition: all 0.5s ease;

        @media screen and (max-width: $breakpoint-tablet) {
            &{
                background: $primary-tablet;
            }
        }


        &.active{
            background: $primary-hover;

            @media screen and (max-width: $breakpoint-tablet) {
                &{
                    background: $primary-hover-tablet;
                }
            }

            &::after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        &:hover{
            background: $primary-hover;

            @media screen and (max-width: $breakpoint-tablet) {
                &{
                    background: $primary-hover-tablet;
                }
            }
        }
    }
}

.sous-navigation{
    ol{
        display: none;
        position: relative;
        width: 100%;
        padding: 0;

        a{
            background: $primary-hover;
            transition: none;

            @media screen and (max-width: $breakpoint-tablet){
                background: $primary-tablet;
            }

            @media screen and (max-width: $breakpoint-tablet) {
                &{
                    background: $primary-tablet;
                }
            }

            &:hover{
                background: $primary;
                border: $primary-active 2px solid;

                @media screen and (max-width: $breakpoint-tablet){
                    background: $primary-hover-tablet;
                    border: $primary-active-tablet 2px solid;
                }
            }
        }
    }

    &{
        position: relative;
        line-height: 50px;
        text-align: center;
        flex:1;
        z-index: 1;

        &:hover{
            @media screen and (min-width: $breakpoint-tablet) {
                ol{
                    display: block;
                }
            }
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $primary-active;

    @media screen and (max-width: $breakpoint-tablet) {
        &{
            background: $primary-active-tablet;
        }
    }

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $primary-active;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;

        @media screen and (max-width: $breakpoint-tablet) {
            &{
                background: $primary-active-tablet;
            }
        }
    }

   &:hover{
    &:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
   }
}