// Déclaration des variables de couleur
$primary: #2d5d83;
$primary-hover: #4f9bd9;
$primary-active: #25c5df;

// Déclaration des variables de couleur tablette
$primary-tablet: #a72929;
$primary-hover-tablet: #781c1c;
$primary-active-tablet: #e21f1f;

// Déclaration des breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
