@import 'header';
@import 'destination.scss';
@import 'voyage_audio.scss';
@import 'voyage_video.scss';
@import 'contact.scss';
@import 'variables.scss';
@import 'connexion.scss';

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h1{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}


.main_container{
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

h2{
    color: $primary;
    font-weight: bold;

    @media screen and (max-width: $breakpoint-tablet) {
        &{
            color: $primary-tablet;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    section{
        margin-top: 0px;
    }
}
